* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

html {
  background: #E5E5E5;
}

.test {
  width: 570px;
  height: 260px;
  margin-bottom: 40px;
  padding: 32px 30px 26px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test:hover .pile {
  box-shadow: 0 1px 4px 0 #bababa;
}

.check, .close {
  line-height: 18px;
  font-size: 18px;
  margin-left: 1px;
  animation: circle 150ms ease-in forwards;
}
@keyframes circle {
  from {
    font-size: 12px;
    opacity: 0;
  }
  to {
    font-size: 18px;
    opacity: 1;
  }
}

.check {
  color: rgba(18, 210, 2, 1);
}

.close {
  color: rgba(231, 2, 2, 1);
}

/*.placeholder {*/
/*  color: rgba(0, 0, 0, 0.4);*/
/*  position: absolute;*/
/*  top: 1em;*/
/*  left: auto;*/
/*  transition: font-size 350ms;*/
/*}*/

/*.size-18 {*/
/*  font-size: 18px;*/
/*}*/
/*.size-32 {*/
/*  font-size: 32px;*/
/*}*/